{% extends 'base.html' %}
{% block contents %}

<section class="section-conten padding-y bg">
{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change Password</strong>
		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<label>Current Password</label>
						<input name="current_password" type="password" placeholder="Current Password" class="form-control" required>
					</div>
					<div class="form-group">
						<label>New password</label>
						<input name="new_password" type="password" placeholder="New Password" class="form-control" required>
					</div>
                    <div class="form-group">
						<label>Confirm New password</label>
						<input name="confirm_password" type="password" placeholder="Confirm New Password" class="form-control" required>
					</div>
					<input type="submit" value="Submit" class="btn btn-primary">
				</form>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}